---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Aviral Singh">
  <main>
    <h1>Welcome to my portfolio</h1>
    <p>I'm a software developer passionate about building great products.</p>
  </main>
</Layout>
